public net.minecraft.world.level.biome.Biome addSpawn(Lnet/minecraft/entity/EntityClassification;Lnet/minecraft/world/biome/Biome$SpawnListEntry;)V # addSpawn
public net.minecraft.world.entity.SpawnPlacements register(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/entity/SpawnPlacements$Type;Lnet/minecraft/world/level/levelgen/Heightmap$Types;Lnet/minecraft/world/entity/SpawnPlacements$SpawnPredicate;)V # register
public net.minecraft.world.entity.animal.AbstractFish getFishBucket()Lnet/minecraft/world/item/ItemStack; # getFishBucket
public net.minecraft.world.entity.animal.Cod getFishBucket()Lnet/minecraft/world/item/ItemStack; # getFishBucket
public net.minecraft.world.entity.animal.Pufferfish getFishBucket()Lnet/minecraft/world/item/ItemStack; # getFishBucket
public net.minecraft.world.entity.animal.TropicalFish getFishBucket()Lnet/minecraft/world/item/ItemStack; #
public net.minecraft.world.entity.animal.Salmon getFishBucket()Lnet/minecraft/world/item/ItemStack; # getFishBucket
public net.minecraft.world.entity.monster.Phantom$PhantomAttackPlayerTargetGoal
public net.minecraft.world.entity.ai.goal.GoalSelector goals # goals
public-f net.minecraft.world.level.block.entity.ConduitBlockEntity VALID_BLOCKS # field_205042_e
protected net.minecraft.world.entity.vehicle.Boat tickLerp()V # tickLerp
public net.minecraft.client.Minecraft renderPartialTicksPaused # renderPartialTicksPaused
public net.minecraft.client.gui.Gui overlayMessage # overlayMessage
public net.minecraft.world.entity.Entity size # size
protected net.minecraft.world.entity.animal.Squid spawnInk()V # spawnInk
public net.minecraft.client.model.HumanoidModel getAttackArm(Lnet/minecraft/world/entity/LivingEntity;)Lnet/minecraft/world/entity/HumanoidArm;
public net.minecraft.world.level.block.DoorBlock playSound(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Z)V
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource;
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource;
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource;
# public net.minecraft.world.entity.projectile.ThrownTrident tridentItem # tridentItem
public net.minecraft.world.item.TridentItem isTooDamagedToUse(Lnet/minecraft/world/item/ItemStack;)Z
public net.minecraft.world.entity.EntityDimensions <init>(FFZ)V # <init>
public net.minecraft.client.gui.Gui overlayMessageString # overlayMessageString